               @import url('https://fonts.googleapis.com/css?family=Russo+One');

        @import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,800');

        @import url('https://fonts.googleapis.com/css?family=Gugi');

        * { margin: 0; padding: 0;}
        
        html, body { 
        width: 100%;
        height: 100%;
        font-family: 'Helvetica Neue', 'Montserrat', 'Russo One';  
        background: #E0F2E9;
        color: black;
        font-size: 14px;
        }

    /* Сайдбар */
    .sidebar { color: #275952;; height: 100%; width: 20%; background: #D5E5DD; position: fixed;}
    .sidebar_list { padding: 15px 10px 0px 20px; overflow: auto; height: 100%; position: fixed; width: 19%;}
    .sidebar h3 { padding-top: 10px; padding-bottom: 10px; }
    .sidebar a { color: black; }
    .sidebar a:hover { color: black; background: white; font-size: 16px;}
    .number { background: #434343; color: white; padding-left: 20px; padding-right: 5px; margin-right: 2.5px; font-size: 20px; text-align: center;}
    /* Страница */
    .page {
    width: 55%;
    margin-left: 28.07%; margin-right: 18.07%; margin-bottom: 0; position: relative;
    padding-top: 0%; padding-left: 2%; padding-right: 2%;
    background: #D5E5DD;
    box-shadow: 0 0 7.5px 0 rgba(0,0,0,0.2);
    font-size: 17px;
    text-align: justify;
    }

    .page p  {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .page ol, ul {
        padding-left: 35px;
    }
    /* Скроллбар */
    ::-webkit-scrollbar {
    width: 12px;
    }

    ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    }
 
    ::-webkit-scrollbar-thumb {
    background: #888; 
    }

    ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    }
/* Настройки страницы */

.page h1 { padding-top: 2%; font-size: 32px; text-decoration: underline; text-align: left; padding: 2.5px;}
.page h2 { font-size: 30px; padding: 2.5px;}
.page h3 { font-size: 24px; padding: 2.5px;}
.page h4 { font-size: 24px; padding: 2.5px;}
.page h5 { font-size: 20px; padding: 2.5px;}
.page h6 { font-size: 18px; padding: 2.5px;}

.page q { background-color: #BDCCC4; color: black; font-size: 18px; font-style: italic; padding: 0px; border: 0.75px dashed black; margin: 2px; quotes: "“" "”"; }/* Цитата */
.page code {} /* Код */
.page del {} /* Удалённый текст */

   .page dfn { /* Термин с обозначением */
    border: 0px dashed #7AA5A4; font-weight: bold;
    quotes: " " " — "; /* Устанавливаем вид кавычек */
   } 
   .page dfn:before {
    content: open-quote; /* Добавляем перед текстом открывающую кавычку */
  }
   .page dfn:after {
    content: close-quote; /* Добавляем после текста закрывающую кавычку */
   }

.page em {} /* Акцентирование чего-либо в тексте */
.page mark { border: 0.1px dotted black; color: red; background-color: none;} /* Выделение текста */

/* Айфрейм */
iframe {
    width: 100%;
    height: 500px;
}

/* Кнопка "Наверх" */

.scrolltotop {
 opacity: 0.5;width: 5%;position: fixed;background: #D5E5DD;top:auto;bottom: 2%;height: 2.5%; margin-top: 1.25%, margin-bottom: 1.25%; text-align: center; right:0px;left:auto;
}

.scrolltotop:hover {
    opacity: 1;
}

.mobile_sticky {
    width: 0px; height: 0px;
}

.modalDialog {
    display: none;
}
/* Мобильный дизайн */ 
@media only screen and (max-width: 600px) {
  html, body {
    height: 100%; width: 100%; font-size: 10px; 
  }
  .sidebar {
    display: none;
  }
  .scrolltotop {
    display: none;
  }
  .page {
    width: 90%; margin-left: 2%; margin-right: 2%;
  }
  .mobile_sticky {
    width: 5%;
    position:fixed;
    color: white;
    background: #434343;
    font-size: 20px;
    bottom: 97%;
    top: 0%;
    left: 90%;
    height: 30px;
    text-align: center;
  }
  .modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
    }

.modalDialog:target {
    display: block;
    pointer-events: auto;
    }

.modalDialog > div {
    width: 100%;
    height: 100%;
    margin: 0% auto;
    padding: 5px 20px 13px 20px;
    color: white;
    background: #434343;
    overflow: auto;
    }

.modalDialog a{ color: white;}
    }

.close { margin-left: 90%; text-align: center;}
.close a { text-decoration: none; }
